.search-page {
    width: 100%;
    height: 100%;

    .search-page-container {
        width: 80%;
        height: 100%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        background-color: white;
        .top-search-title {
            display: flex;
            font-size: 19pt;
            width: 95%;
            padding-bottom: 5px;
            border-bottom: 1px solid rgb(220, 220, 220);
        }
        .search-page-container-subcontainer {
            display: flex;
            width: 100%;

            .search-left-menu {
                display: flex;
                width: 25%;
                padding: 25px;
                flex-direction: column;
                .menu {
                    display: flex;
                    ul {
                        list-style: none;

                        li {
                            display: flex;
                            .menu-item {
                                height: 30px;
                                width: 180px;
                                display: flex;
                                align-items: center;
                                padding-left: 10px;
                                cursor: pointer;
                                font-size: 11pt;
                            }
                            .menu-item-selected {
                                background-color: rgb(41, 32, 245);
                                height: 30px;
                                width: 180px;
                                display: flex;
                                align-items: center;
                                padding-left: 10px;
                                color: white;
                                cursor: pointer;
                                font-size: 11pt;
                            }
                            .arrow-right {
                                width: 0;
                                height: 0;
                                border-top: 15px solid transparent;
                                border-bottom: 15px solid transparent;

                                border-left: 15px solid rgb(41, 32, 245);
                            }
                            margin-bottom: 5px;
                        }
                    }
                }
                .search-left-menu-description{
                    display: flex;
                    margin-top: 25px;
                    font-size: 9pt;
                    font-weight: 600;
                    padding-left: 10px;
                    .language-button{
                        color: rgb(41, 32, 245);
                        cursor: pointer;
                        padding-right: 5px;
                    }
                }
            }
            .search-content {
                display: flex;
                width: 75%;
                padding-left: 20px;
                padding-top: 20px;
                display: flex;
                flex-direction: column;
            }
        }
    }
}
