.left-menu {
    display: flex;
    height: 100%;
    width: 30%;
    min-width: 280px;
    justify-content: flex-end;
    border-right: 1px solid rgb(240, 240, 240);
    box-sizing: border-box;
}
.left-menu-container {
    display: flex;
    flex-direction: column;
    width: 370px;
    min-width: 256px;

    box-sizing: border-box;
}
.section-title {
    font-size: 23pt;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.member-search{
    padding-left: 5px;
    display: flex;
    height: 60px;
    align-items: center;
    input[type="text"]{
        height: 27px;
        border-radius: 3px;
        border: 1px solid rgb(180,180,180);
        width: 95%;
        padding-left: 5px;
        &:focus{
            outline: none;
        }
    }
}
