.messages-main {
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column;
    align-items: center;
}

.recipient-container {
    width: 100%;
    display: flex;
    height: 60px;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 25px;
    margin-bottom: 20px;
    .left-options {
        display: flex;
        align-items: center;
        .recipient-name {
            font-size: 18pt;
            font-weight: 600;
            margin-right: 10px;
        }
        button {
            background-color: white;
            border: 1px solid rgb(170, 170, 170);
            padding: 0 10px;
            height: 22px;
            margin-right: 5px;
            cursor: pointer;
            font-size: 8pt;
            &:hover {
                border: 1px solid black;
            }
        }
    }
    .right-options {
        display: flex;
        button {
            background-color: white;
            border: 1px solid rgb(170, 170, 170);
            padding: 0 5px;
            min-width: 77px;
            height: 22px;
            margin-right: 5px;
            cursor: pointer;
            font-size: 8pt;
            &:hover {
                border: 1px solid black;
            }
        }
    }
}

.message-sender {
    display: flex;
    flex-direction: column;
    width: 75%;
    textarea {
        resize: vertical;
        min-height: 100px;
        border: 1px solid rgb(170, 170, 170);
        border-radius: 4px;
        padding: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        &:focus {
            outline: none;
            border: 1px solid rgb(100, 100, 100);
        }
    }
}
.message-sender-header {
    display: flex;
    font-size: 10pt;
    height: 30px;
    align-items: center;
    &::after{
        content: "*";
        padding-left: 3px;
        color: red;
    }
}
.message-sender-footer {
    display: flex;
    padding: 0 20px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(170, 170, 170);
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    button {
        cursor: pointer;
        height: 30px;
        background-color: white;
        border: 1px solid rgb(200, 200, 200);
        padding: 0 10px;
        border-radius: 3px;
    }
    button:first-child:hover {
        border: 1px solid rgb(100, 100, 100);
    }
    #send-button {
        background-color: rgb(0, 0, 240);
        color: white;
        padding: 0 15px;

        &:hover {
            border: none;
            border: 1px solid rgb(200, 200, 200);
        }
    }
}
