.password-form{
    display: flex;
    flex-direction: column;
    label{
        display: flex;
        flex-direction: column;
        input{
            margin-top: 10px;
        }
    }
    .user-email{
        input{
            background-color: rgb(220,220,220);
        }
    }
    button{
        font-size: 13pt;
    }
}