body{
    .alexander{
        background: white;
        height: 300px;
        width: 100px;
    }
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.home-page{
    position: fixed;
    left: 0px;
    top: 45px;
    width: 100%;
    height: calc(100% - 95px);
    display: flex;
    background-color: rgb(242,242,242);
    justify-content: center;

    .sidebar-right{
        width: 25%;
        border-left: 1px solid rgb(180,180,180);
        display: flex;
    }
    .homepage-container{
        width: 80%;
        display: flex;
        position: relative;
        
    }
}