.album-container {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.album-cover {
    img {
        height: 170px;
        width: 170px;
    }
    margin-right: 10px;
}

.album-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 0;
}
.album-control-info {
    display: flex;
}

.album-control {
    cursor: pointer;
    display: flex;
    background-color: rgba(0, 0, 255, 0.8);
    align-items: center;
    justify-content: center;
    height:40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    &:hover {
        background-color: rgba(0, 0, 255, 0.85);
    }
    img {
        width: 25px;
        height: 25px;
    }
}
.album-info {
    display: flex;
    flex-direction: column;
    font-size: 10pt;
    justify-content: center;
    .album-artist {
        color: rgb(120, 120, 120);
    }
}

.album-options {
    display: flex;
    button {
        border: 1px solid black;
        margin-right: 10px;
        padding: 5px 15px;
        cursor: pointer;
        background-color: white;
        border-radius: 2px;
    }
}
