input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid black;
    display: flex;
    width: 300px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 100, 1);
    color: white;
    border-radius: 3px;
    font-size: 14pt;
    font-weight: 600;
    cursor: pointer;
}
.uploader-container {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    overflow-x: hidden;

}
.playlist-maker {
    margin-top: 10px;
    font-size: 9pt;
    display: flex;
    cursor: pointer;
}
.privacy-block {
    display: flex;
    margin-top: 10px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
    input{
        cursor: pointer;
        margin-right: 5px;
    }
    label {
        margin-left: 5px;
        cursor: pointer;
    }
}

.slide{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slide-1{
}
.slide-2{
    background-color: white;
    left: 100%;
    border: 1px solid black;

}
.nextSlide-animated{
    animation: nextSlide .85s forwards;
}
@keyframes nextSlide{
    0%{
        left: 100%;
    }
    100%{
       left: 0%;
    }
}